<h1>Listing dungeons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Levels</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dungeons.each do |dungeon| %>
  <tr>
    <td><%= dungeon.name %></td>
    <td><%= dungeon.levels %></td>
    <td><%= link_to 'Show', dungeon %></td>
    <td><%= link_to 'Edit', edit_dungeon_path(dungeon) %></td>
    <td><%= link_to 'Destroy', dungeon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dungeon', new_dungeon_path %>
